* {
    font-family: sans-serif;
}

button {
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin: 0px;
    text-align: center;
    padding-top: 10%;
    font-family: fantasy;
    color: white;
}

.calc-frame {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 24px;
    background-color: rgb(55, 121, 101);
    border-radius: 5px;
    border: outset 5px;
}

.equals {
    background-color: greenyellow;
    height: 48px;
}

.clear {
    background-color: cornsilk;
    height: 48px;
}

.results-display {
    width: auto;
    height: 36px;
    background-color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
    border: solid 1px rgb(22, 49, 41);
    border-radius: 5px;
    text-align: left;
    padding-left: 5%;
    padding-top: 8px;
    padding-bottom: 0%;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.buttons-left {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 8px;
}

.digit {
    background-color: lightsalmon;
}

.digit :last-child {
    grid-column: -4 / -1;
}

.buttons-right {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
}

.operator-buttons {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    gap: 8px;
}

.operator {
    background-color: lightskyblue;
}

.clear-and-equals {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
